@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Cairo", sans-serif;
  --color-1: #191825;
  --color-2: #865dff;
  --color-3: #e384ff;
  --color-4: #ffa3fd;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5dvh;
  background-size: cover;
  background-position: center;
  background-image: url("images/rose-petals.svg");
}

.app-container {
  width: 95%;
  max-width: 600px;
  min-height: 90dvh;
  padding: 1rem 2rem 2rem;
  text-align: center;
  background-color: var(--color-1);
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  .app-container {
    padding-inline: 1rem;
  }
}

h1 {
  color: #fff;
}

h1 span {
  color: var(--color-4);
}

form {
  display: flex;
  column-gap: 0.25rem;
  margin-top: 1rem;
}

input[type="text"] {
  width: 80%;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: transparent;
  border: 3px solid var(--color-2);
  outline: none;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

input[type="text"]:focus {
  box-shadow: 0px 0px 7.5px 0px var(--color-4);
}

input[type="submit"] {
  width: 20%;
  font-size: 1.1rem;
  color: #fff;
  background-color: var(--color-2);
  border: none;
  border-radius: 5px;
}

.click-fx {
  transition: all ease-in-out 0.3s;
}

.click-fx:active {
  transform: scale(0.9);
  opacity: 0.5;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 2rem;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding-inline: 1rem;
  color: #fff;
  background-color: #2a293e;
  border-radius: 5px;
}

.task > div {
  display: flex;
  align-items: center;
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  border: solid 2px var(--color-4);
  border-radius: 5px;
}

.check-box svg {
  color: var(--color-4);
}

.task p {
  position: relative;
  margin-inline: 0.5rem;
  text-align: left;
}

.task.complited p {
  opacity: 0.5;
}

.task p::before {
  content: "";
  position: absolute;
  top: 52%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all ease-in-out 0.3s;
}

.task.complited p::before {
  width: 100%;
}

.task:not(.complited) .check-box svg {
  opacity: 0;
}

.task-options {
  min-width: 25px;
  column-gap: 0.25rem;
}

.task-options .delete-icon {
  color: #e96479;
}

/* v1.0.0 */
/* by abuSpiha */
